.playerWrapper {
  /* position: relative; */
  /* padding-top: 56.25%; */ /* Player ratio: 100 / (1280 / 720) */
  margin-top: 6em;
  margin-left: 4em;
}

.reactPlayer {
  position: absolute;
  top: 0;
  left: 0;
}

.eachPlayerWrapper {
  position: relative;
  /* padding-top: 5%; */ /* Player ratio: 100 / (1280 / 720) */
  padding: 2%;
}

.react-player {
  border-radius: 10px !important;
}
