<h1 style="font-size: 250%; font-family: cursive; color: #ff6666">
  <b
    >Python Image Processing - Grayscale Conversion and Brightness Increase from
    Scratch Python</b
  ><a id="0"></a>
</h1>

<p>
  <a href="https://youtu.be/I8kwtcVSEDk"
    ><h1 style="font-size: 250%; font-family: cursive; color: #ff6666">
      <b>Link to my YouTube Video</b>
    </h1></a
  >
</p>
<p>
  <a
    href="https://youtu.be/I8kwtcVSEDk"
    title="Python Image Processing - Grayscale Conversion and Brightness Increase from Scratch Python"
    ><img src="https://imgur.com/MTAO3gS.png" alt="IMAGE ALT TEXT"
  /></a>
</p>

<h2 id="first-the-fundamental-of-an-image-structure-in-computer">
  First the Fundamental of an Image Structure in Computer
</h2>
<p>
  A digital image is a finite collection of small, discrete picture elements
  called pixels. These pixels are organized in a two-dimensional grid. Each
  pixel represents the smallest amount of picture information that is available.
  Sometimes these pixels appear as small “dots”.
</p>
<p>
  Each image (grid of pixels) has its own width and its own height. The width is
  the number of columns and the height is the number of rows. We can name the
  pixels in the grid by using the column number and row number. However, in most
  programming languages, we start counting with 0! This means that if there are
  20 rows, they will be named 0,1,2, and so on through 19.
</p>
<p><img src="https://imgur.com/ybwgMsy.png" alt="Imgur" /></p>
<h2 id="the-rgb-color-model">The RGB Color Model</h2>
<p>
  Each pixel of the image will represent a single color. The specific color
  depends on a formula that mixes various amounts of three basic colors: red,
  green, and blue. This technique for creating color is known as the RGB Color
  Model. The amount of each color, sometimes called the intensity of the color,
  allows us to have very fine control over the resulting color.
</p>
<p>
  The minimum intensity value for a basic color is 0. For example if the red
  intensity is 0, then there is no red in the pixel. The maximum intensity is
  255. This means that there are actually 256 different amounts of intensity for
  each basic color. Since there are three basic colors, that means that you can
  create 2563 distinct colors using the RGB Color Model.
</p>
<p>
  Here are the red, green and blue intensities for some common colors. Note that
  “Black” is represented by a pixel having no basic color. On the other hand,
  “White” has maximum values for all three basic color components.
</p>
<p><img src="https://imgur.com/Ia6zn53.png" alt="Imgur" /></p>
<pre><code class="lang-python">from PIL <span class="hljs-keyword">import</span> Image, ImageDraw
<span class="hljs-keyword">import</span> numpy as np
from numpy <span class="hljs-keyword">import</span> asarray

<span class="hljs-built_in">image</span> = Image.<span class="hljs-built_in">open</span>(<span class="hljs-string">'image.jpg'</span>)

# Show <span class="hljs-built_in">image</span>
<span class="hljs-meta"># image.show()</span>
<span class="hljs-built_in">display</span>(<span class="hljs-built_in">image</span>)
</code></pre>
<p>
  <img
    src="GrayScale_Brightness_files/GrayScale_Brightness_2_0.png"
    alt="png"
  />
</p>
<h3 id="check-any-pixel-value-in-the-image">
  Check any pixel value in the image
</h3>
<pre><code class="lang-python"><span class="hljs-built_in">width</span>, <span class="hljs-built_in">height</span> = <span class="hljs-built_in">image</span>.size

pix = <span class="hljs-built_in">image</span>.<span class="hljs-built_in">load</span>()


# Lets say I want to check the RGB <span class="hljs-built_in">color</span> <span class="hljs-built_in">values</span> of a pixel <span class="hljs-built_in">at</span> <span class="hljs-built_in">position</span> [<span class="hljs-number">5</span>,<span class="hljs-number">4</span>]

pix[<span class="hljs-number">5</span>, <span class="hljs-number">4</span>] # (<span class="hljs-number">18</span>, <span class="hljs-number">27</span>, <span class="hljs-number">10</span>)
</code></pre>
<pre><code>(<span class="hljs-number">18</span>, <span class="hljs-number">27</span>, <span class="hljs-number">10</span>)
</code></pre>
<p>
  <strong>pix</strong> is an array. You can retrieve the (r, g, b) color values
  from any pixel with “pix[x, y]” where x and y are int values within the size
  of the image file.
</p>
<pre><code class="lang-python">print(pix[<span class="hljs-string">5, 4</span>][<span class="hljs-symbol">0</span>])
print(pix[<span class="hljs-string">5, 4</span>][<span class="hljs-symbol">1</span>])
print(pix[<span class="hljs-string">5, 4</span>][<span class="hljs-symbol">2</span>])
</code></pre>
<pre><code><span class="hljs-number">18</span>
<span class="hljs-number">27</span>
<span class="hljs-number">10</span>
</code></pre>
<p>
  Notice the 0, 1, and 2. This is because each (r, g ,b) color has three values.
  The red value is number [0], the green value is number [1], and the blue value
  is number [2].
</p>
<h1 id="some-basic-operations-we-can-do-at-while-working-at-the-pixel-level-">
  Some basic operations we can do at while working at the pixel level.
</h1>
<p>
  Lets say I have the following r, g, b values for a specific pixel value of the
  image at position [10, 12] i.e.
</p>
<pre><code class="lang-py">r, g, b = pix[<span class="hljs-number">10</span>, <span class="hljs-number">12</span>]
</code></pre>
<h3
  id="use-multiple-assignment-to-create-the-r-g-and-b-variables-at-the-same-time-"
>
  Use multiple assignment to create the r, g, and b variables at the same time:
</h3>
<pre><code class="lang-py">r, g, <span class="hljs-selector-tag">b</span> = pix[x,y]
</code></pre>
<p>
  In the last line, it sets the color at coordinates [x,y] to the same values as
  before: (r, g, b).
</p>
<p>
  If you want to modify the image, set (r, g, b) to something else. The pixel’s
  color must be set to a tuple with exactly three int values from 0 to 255.
  (tuples are similar to lists, but they use parentheses instead of square
  brackets, and you can’t change the individual values of a tuple)
</p>
<h2 id="set-all-three-values-to-the-same-number-such-as-the-red-value-">
  Set all three values to the same number (such as the red value)
</h2>
<pre><code class="lang-py">pix<span class="hljs-string">[x, y]</span> = (r, r, r)
</code></pre>
<h2 id="change-one-or-two-of-the-values-to-zero">
  Change one or two of the values to zero
</h2>
<pre><code class="lang-py">pix<span class="hljs-string">[x, y]</span> = (<span class="hljs-number">0</span>, g, b)
</code></pre>
<h2 id="change-one-or-two-of-the-values-to-255">
  Change one or two of the values to 255
</h2>
<pre><code class="lang-py">pix<span class="hljs-string">[x, y]</span> = (r, r, <span class="hljs-number">255</span>)
</code></pre>
<h2 id="average-the-three-numbers-together">
  Average the three numbers together
</h2>
<pre><code class="lang-py"><span class="hljs-keyword">avg</span> = (r + g + b) <span class="hljs-comment">// 3</span>
pix[x,y] = (<span class="hljs-keyword">avg</span>, <span class="hljs-keyword">avg</span>, <span class="hljs-keyword">avg</span>)
</code></pre>
<h2 id="switch-the-variables-around-e-g-swap-red-and-blue">
  Switch the variables around: e.g. swap red and blue
</h2>
<pre><code class="lang-py">pix[x, y] = (<span class="hljs-selector-tag">b</span>, g, r)
</code></pre>
<h2 id="add-100-to-each-value">Add 100 to each value</h2>
<pre><code class="lang-py">pix[x, y] = (r+<span class="hljs-number">100</span>,g+<span class="hljs-number">100</span>,b+<span class="hljs-number">100</span>)
</code></pre>
<p>Subtract each value from 255</p>
<pre><code class="lang-py">pix[x, y] = (<span class="hljs-number">255</span>-r, <span class="hljs-number">255</span>-g, <span class="hljs-number">255</span>-b)
</code></pre>
<h2 id="cut-the-values-in-half-use-operator-to-get-int-division-result-">
  Cut the values in half (use // operator to get int division result)
</h2>
<pre><code class="lang-py">pix[x, y] = (r<span class="hljs-regexp">//</span><span class="hljs-number">2</span>, g<span class="hljs-regexp">//</span><span class="hljs-number">2</span>, b<span class="hljs-regexp">//</span><span class="hljs-number">2</span>)
</code></pre>
<h2 id="for-accessing-the-pixels-of-the-image-we-have-2-options-">
  For accessing the pixels of the image we have 2 options.
</h2>
<p>
  You can read the image size through the size attribute. This is a 2-tuple,
  containing the horizontal and vertical size in pixels
</p>
<p>And the Pillow package uses the Cartesian pixel coordinate system.</p>
<p>
  (0,0) is the upper left corner coordinates are passed as a tuple in the form
  (x,y)
</p>
<p>
  And a Rectangles is represented as 4 tuples, the upper left corner is provided
  first.
</p>
<pre><code class="lang-python">image.size

<span class="hljs-string">""" Size of the image in pixels (size of original image)

width, height = im.size """</span>
</code></pre>
<pre><code>(<span class="hljs-number">984</span>, <span class="hljs-number">656</span>)
</code></pre>
<h3 id="so-in-above-tuple-984-656-the-width-is-984-and-656-is-the-height">
  So in above tuple (984, 656) =&gt; The width is 984 and 656 is the height
</h3>
<h2 id="the-significance-of-the-size-of-image">
  The significance of the size of image
</h2>
<p>
  The dimension of the image is X x Y. What does that actually mean? This means
  that the dimension of the image is simply the number of pixels across the
  height(x) and width(y) of the image. In this case, if you count, it would be
  984 pixels across the height and 656 pixels across the width. Hence the
  dimension of this image will be 984 x 656.
</p>
<hr />
<h2 id="the-mode-of-an-image">The mode of an image</h2>
<p>
  The mode of an image is a string which defines the type and depth of a pixel
  in the image. Each pixel uses the full range of the bit depth. So a 1-bit
  pixel has a range of 0-1, an 8-bit pixel has a range of 0-255 and so on. The
  current release supports the following standard modes:
</p>
<ul>
  <li>
    <p>1 (1-bit pixels, black and white, stored with one pixel per byte)</p>
  </li>
  <li><p>L (8-bit pixels, black and white)</p></li>
  <li>
    <p>P (8-bit pixels, mapped to any other mode using a color palette)</p>
  </li>
  <li><p>RGB (3x8-bit pixels, true color)</p></li>
  <li><p>RGBA (4x8-bit pixels, true color with transparency mask)</p></li>
  <li><p>CMYK (4x8-bit pixels, color separation)</p></li>
  <li><p>YCbCr (3x8-bit pixels, color video format)</p></li>
</ul>
<p>Here is how we would obtain the mode for the image we loaded above:</p>
<pre><code class="lang-python"><span class="hljs-built_in">image</span>.mode
<span class="hljs-built_in">image</span>.getbands()
</code></pre>
<pre><code>(<span class="hljs-symbol">'R</span>', <span class="hljs-symbol">'G</span>', <span class="hljs-symbol">'B</span>')
</code></pre>
<pre><code class="lang-python"><span class="hljs-keyword">image</span>.<span class="hljs-keyword">format</span>
</code></pre>
<pre><code><span class="hljs-symbol">'JPEG</span>'
</code></pre>
<h2 id="get-pixel-s-rgb-using-pil">Get pixel&#39;s RGB using PIL</h2>
<p>
  An RGB image can be viewed as three images( a red scale image, a green scale
  image and a blue scale image) stacked on top of each other.
</p>
<pre><code class="lang-python">rgb_im = image.convert(<span class="hljs-string">'RGB'</span>)
r, g, <span class="hljs-selector-tag">b</span> = rgb_im.getpixel((<span class="hljs-number">1</span>, <span class="hljs-number">1</span>))
<span class="hljs-function"><span class="hljs-title">print</span><span class="hljs-params">(r, g, b)</span></span>
</code></pre>
<pre><code><span class="hljs-symbol">23 </span><span class="hljs-number">30</span> <span class="hljs-number">23</span>
</code></pre>
<pre><code class="lang-python"># First <span class="hljs-function"><span class="hljs-keyword">method</span>
<span class="hljs-title">pixels</span> = <span class="hljs-title">image</span>.<span class="hljs-title">load</span><span class="hljs-params">()</span>

# <span class="hljs-title">pixel</span> = <span class="hljs-title">image</span>.<span class="hljs-title">getpixel</span><span class="hljs-params">((x, y)</span>)

<span class="hljs-title">pix_val</span> = <span class="hljs-title">list</span><span class="hljs-params">(image.getdata()</span>)

<span class="hljs-title">pix_val</span>

<span class="hljs-title">pix_val_flat</span> = [<span class="hljs-title">x</span> <span class="hljs-title">for</span> <span class="hljs-title">sets</span> <span class="hljs-title">in</span> <span class="hljs-title">pix_val</span> <span class="hljs-title">for</span> <span class="hljs-title">x</span> <span class="hljs-title">in</span> <span class="hljs-title">sets</span>]

# <span class="hljs-title">pix_val_flat</span>

<span class="hljs-title">np</span>.<span class="hljs-title">array</span><span class="hljs-params">(pix_val_flat)</span>.<span class="hljs-title">shape</span>

# <span class="hljs-title">pixels</span>[<span class="hljs-title">x</span>, <span class="hljs-title">y</span>] = <span class="hljs-params">(r, g, b)</span></span>
</code></pre>
<pre><code>(<span class="hljs-name">1936512</span>,)
</code></pre>
<h2 id="filter">Filter</h2>
<p>
  Filters are mathematical functions that take the image as input and return a
  new image as output.
</p>
<p>
  Filters can be applied on a pixel-level, that is, the output pixel at (x, y)
  depends only on the input pixel at (x,y). Or on a global level, where the
  output of a certain pixel depends on multiple input pixels.
</p>
<p>
  Filters can also be applied on a channel-level, that is, applied on every
  color channel (red, green, and blue) separately. For example, the red channel
  of the output depends only on the red channel the input. We will apply a
  filter by creating a new image with the same dimensions as the input image,
  then edit its pixels.
</p>
<pre><code class="lang-python">image = Image.open(<span class="hljs-string">'image.jpg'</span>)

<span class="hljs-meta"># Filter</span>
def filter(image):<span class="hljs-type"></span>
    <span class="hljs-meta"># Get image dimesions</span>
    width, height = image.size

    <span class="hljs-meta"># Create a white RGB image</span>
    <span class="hljs-keyword">new</span><span class="hljs-type">_image</span> = Image.<span class="hljs-keyword">new</span><span class="hljs-type"></span>(<span class="hljs-string">"RGB"</span>, (width, height), <span class="hljs-string">"green"</span>)

    <span class="hljs-meta"># Filter magic happens here</span>

    <span class="hljs-keyword">return</span> <span class="hljs-keyword">new</span><span class="hljs-type">_image</span>

<span class="hljs-meta"># Show result</span>
<span class="hljs-keyword">new</span><span class="hljs-type">_image</span> = filter(image)

display(<span class="hljs-keyword">new</span><span class="hljs-type">_image</span>)
</code></pre>
<p>
  <img
    src="GrayScale_Brightness_files/GrayScale_Brightness_18_0.png"
    alt="png"
  />
</p>
<h2 id="what-is-a-grayscale-inside-a-computer">
  What is a Grayscale inside a Computer
</h2>
<p>
  A grayscale image is one in which the value of each pixel is a single sample
  representing only an amount of light; that is, it carries only intensity
  information and are composed exclusively of shades of gray.
</p>
<p>
  The contrast ranges from black at the weakest intensity to white at the
  strongest.
</p>
<h2 id="difference-between-black-and-white-and-grayscale-modes">
  Difference Between &quot;Black and White&quot; and &quot;Grayscale&quot; Modes
</h2>
<ul>
  <li>
    Black and white (monochrome), only has two &quot;colors&quot;, black (ink or
    toner) and white (no ink or toner).
  </li>
  <li>
    Grayscale contains shades of grey (a continuous scale from black to white)
    and is used for reproducing images or documents that contain more than just
    black printed text.
  </li>
</ul>
<h2 id="importance-of-grayscaling">Importance of grayscaling</h2>
<ul>
  <li>
    <p>
      Dimension reduction: For example, In RGB images there are three color
      channels and has three dimensions while grayscale images are
      single-dimensional.
    </p>
  </li>
  <li>
    <p>
      Reduces model complexity: Consider training neural network on RGB images
      of 10x10x3 pixel. The input layer will have 300 input nodes. On the other
      hand, the same neural network will need only 100 input nodes for grayscale
      images.
    </p>
  </li>
  <li>
    <p>
      Many algorithms are customized to work only on grayscale images e.g. Canny
      edge detection function pre-implemented in OpenCV library works on
      Grayscale images only.
    </p>
  </li>
</ul>
<h2 id="conversion-to-grayscale">Conversion to Grayscale</h2>
<p>
  An intuitive way to convert a color image 3D array to a grayscale 2D array is,
  for each pixel, take the average of the red, green, and blue pixel values to
  get the grayscale value. This combines the lightness or luminance contributed
  by each color band into a reasonable gray approximation.
</p>
<p>
  We need to convert three color values into a single color value. We can do
  this by taking their average (also known as the brightness).
</p>
<p>
  We will then put this value in red, green, and blue of the new image. Though,
  we have to make sure the new values are still integers, so we will use the
  function int().
</p>
<p>
  Average Method The Average method takes the average value of R, G, and B as
  the grayscale value.
</p>
<h3 id="grayscale-r-g-b-3-">Grayscale = (R + G + B ) / 3.</h3>
<p>
  Theoretically, the formula is 100% correct. But when writing code, you may
  encounter uint8 overflow error — the sum of R, G, and B is greater than 255.
  To avoid the exception, R, G, and B should be calculated respectively.
</p>
<h3 id="grayscale-r-3-g-3-b-3-">Grayscale = R / 3 + G / 3 + B / 3.</h3>
<pre><code class="lang-python">image = Image.<span class="hljs-keyword">open</span>(<span class="hljs-symbol">'image</span>.jpg')

def grayscale_conversion(image):
  <span class="hljs-literal">width</span>, height = image.size
  # iterate over <span class="hljs-keyword">all</span> <span class="hljs-keyword">of</span> the pixels <span class="hljs-keyword">in</span> the image we want <span class="hljs-keyword">to</span> work <span class="hljs-keyword">with</span>
  # Our goal here <span class="hljs-keyword">is</span> <span class="hljs-keyword">to</span> visit each pixel. We will <span class="hljs-keyword">use</span> an iteration <span class="hljs-keyword">to</span> <span class="hljs-keyword">process</span> each row.
  # Within that iteration, we will <span class="hljs-keyword">use</span> a nested iteration <span class="hljs-keyword">to</span> <span class="hljs-keyword">process</span> each column.
  # The result <span class="hljs-keyword">is</span> a nested iteration,
  <span class="hljs-keyword">for</span> x <span class="hljs-keyword">in</span> <span class="hljs-keyword">range</span>(<span class="hljs-literal">width</span>): # This outer <span class="hljs-keyword">loop</span> reads every horizontal row <span class="hljs-keyword">of</span> the image
    <span class="hljs-keyword">for</span> y <span class="hljs-keyword">in</span> <span class="hljs-keyword">range</span>(height): # This inner <span class="hljs-keyword">loop</span> reads each pixel within a horizontal <span class="hljs-literal">line</span> <span class="hljs-keyword">of</span> pixels
      # Get original pixel colors
      r, g, b = image.getpixel((x, y))
      # <span class="hljs-keyword">New</span> pixel colors
      # r_ = g_ = b_ = (r+g+b)/<span class="hljs-number">3</span> # Dont <span class="hljs-keyword">use</span> this form <span class="hljs-keyword">of</span> calculation
      r_ = g_ = b_ = (r/<span class="hljs-number">3</span>)+(g/<span class="hljs-number">3</span>)+(b/<span class="hljs-number">3</span>)

      # Change <span class="hljs-keyword">new</span> pixel
      new_pixel = (int(r_), int(g_), int(b_))
      image.putpixel((x, y), new_pixel)
  <span class="hljs-keyword">return</span> image


image = Image.<span class="hljs-keyword">open</span>(<span class="hljs-symbol">'image</span>.jpg')
display(grayscale_conversion(image))
</code></pre>
<p>
  <img
    src="GrayScale_Brightness_files/GrayScale_Brightness_20_0.png"
    alt="png"
  />
</p>
<h2
  id="another-way-to-convert-to-grayscale-is-by-taking-a-weighted-sum-of-the-red-green-and-blue-values-"
>
  Another way to convert to grayscale is by taking a weighted sum of the red,
  green, and blue values.
</h2>
<p>
  To our eyes green looks about ten times brighter than blue. So to account for
  this difference in luminance-perception to human-eyes, through many
  repetitions of carefully designed experiments, psychologists have figured out
  how different we perceive the luminance or red, green, and blue to be. They
  have provided us a different set of weights for our channel averaging to get
  total luminance.
</p>
<p><img src="https://imgur.com/0QPYg5Q.png" alt="Imgur" /></p>
<p>where α₁, α₂, and α₃ are positive constants, such that</p>
<h3 id="-1-">α₁ + α₂ + α₃ = 1.</h3>
<p>These values are usually chosen to be (YUV color encoding system):</p>
<h2 id="algorithm-for-conversion-with-weighted-average">
  Algorithm for conversion with weighted average
</h2>
<ul>
  <li>Read RGB colour image into MATLAB environment</li>
  <li>
    Extract Red, blue and green colour components from RGB image into 3
    different 2-D matrices
  </li>
  <li>
    Create a new matrix with the same number of rows and columns as RGB image,
    containing all zeros .
  </li>
  <li>
    Convert each RGB pixel values at location (i, j) to grayscale values by
    forming a weighted sum of the Red, Green, and Blue colour components and
    assign it to corresponding location (i, j) in new matrix
  </li>
</ul>
<h2 id="-grayscale-value-at-i-j-">$$grayscale value at (i, j) =$$</h2>
<h2 id="-0-2989-r-i-j-0-5870-g-i-j-0-1140-b-i-j-">
  $$0.2989 <em> R(i, j) + 0.5870 </em> G(i, j) + 0.1140 * B(i, j);$$
</h2>
<p>
  So basically we’re more sensitive to green than other colors, so green is
  weighted most heavily.
</p>
<pre><code class="lang-python">image = Image.<span class="hljs-keyword">open</span>(<span class="hljs-symbol">'image</span>.jpg')

def grayscale_conversion_weighted(image):
  <span class="hljs-literal">width</span>, height = image.size
  # iterate over <span class="hljs-keyword">all</span> <span class="hljs-keyword">of</span> the pixels <span class="hljs-keyword">in</span> the image we want <span class="hljs-keyword">to</span> work <span class="hljs-keyword">with</span>
  # Our goal here <span class="hljs-keyword">is</span> <span class="hljs-keyword">to</span> visit each pixel. We will <span class="hljs-keyword">use</span> an iteration <span class="hljs-keyword">to</span> <span class="hljs-keyword">process</span> each row.
  # Within that iteration, we will <span class="hljs-keyword">use</span> a nested iteration <span class="hljs-keyword">to</span> <span class="hljs-keyword">process</span> each column.
  # The result <span class="hljs-keyword">is</span> a nested iteration,
  <span class="hljs-keyword">for</span> x <span class="hljs-keyword">in</span> <span class="hljs-keyword">range</span>(<span class="hljs-literal">width</span>): # This outer <span class="hljs-keyword">loop</span> reads every horizontal row <span class="hljs-keyword">of</span> the image
    <span class="hljs-keyword">for</span> y <span class="hljs-keyword">in</span> <span class="hljs-keyword">range</span>(height): # This inner <span class="hljs-keyword">loop</span> reads each pixel within a horizontal <span class="hljs-literal">line</span> <span class="hljs-keyword">of</span> pixels
      # Get original pixel colors
      r, g, b = image.getpixel((x, y))
      # <span class="hljs-keyword">New</span> pixel colors
      r_ = g_ = b_ = <span class="hljs-number">0.299</span>*r + <span class="hljs-number">0.587</span>*g + <span class="hljs-number">0.114</span>*b

      # Change <span class="hljs-keyword">new</span> pixel
      new_pixel = (int(r_), int(g_), int(b_))
      image.putpixel((x, y), new_pixel)
  <span class="hljs-keyword">return</span> image


image = Image.<span class="hljs-keyword">open</span>(<span class="hljs-symbol">'image</span>.jpg')
display(grayscale_conversion(image))
</code></pre>
<p>
  <img
    src="GrayScale_Brightness_files/GrayScale_Brightness_22_0.png"
    alt="png"
  />
</p>
<h2 id="brightness-increase-by-adding-a-factor-to-each-pixel">
  Brightness Increase by adding a factor to each pixel
</h2>
<p>The brightness of a pixel μ is a value between 0 and 255.</p>
<p>
  So, to increase the brightness of a pixel μ by Δμ, we can increase every color
  channel by Δμ.
</p>
<pre><code class="lang-python">def brighten(input_image, luminosity_factor):
  <span class="hljs-attr">input_pixel</span> = image.load()

  <span class="hljs-comment"># Creating the output image</span>
  <span class="hljs-attr">output_image</span> = Image.new('RGB', input_image.size)
  <span class="hljs-attr">draw_output_img</span> = ImageDraw.Draw(output_image)

  <span class="hljs-comment"># Now will be adding the luminosity_fact on each channel</span>

  <span class="hljs-comment"># iterate over all of the pixels in the image we want to work with</span>
  <span class="hljs-comment"># Our goal here is to visit each pixel. We will use an iteration to process each row. </span>
  <span class="hljs-comment"># Within that iteration, we will use a nested iteration to process each column. </span>
  <span class="hljs-comment"># The result is a nested iteration,</span>
  for x <span class="hljs-keyword">in</span> range(output_image.width): <span class="hljs-comment"># This outer loop reads every horizontal row of the image</span>
    for y <span class="hljs-keyword">in</span> range(output_image.height): <span class="hljs-comment"># This inner loop reads each pixel within a horizontal line of pixels</span>
      r, g, <span class="hljs-attr">b</span> = input_pixel[x, y]
      <span class="hljs-attr">r_</span> = int(r + luminosity_factor)
      <span class="hljs-attr">g_</span> = int(g + luminosity_factor)
      <span class="hljs-attr">b_</span> = int(b + luminosity_factor)
      draw_output_img.point((x, y), (r_,g_,b_))

  return output_image

<span class="hljs-attr">luminosity_factor</span> = <span class="hljs-number">70</span>

<span class="hljs-attr">image</span> = Image.open('image.jpg')
<span class="hljs-comment"># display(input_image)</span>

display(brighten(image, luminosity_factor))
</code></pre>
<p>
  <img
    src="GrayScale_Brightness_files/GrayScale_Brightness_24_0.png"
    alt="png"
  />
</p>
<h2 id="brightness-increase-with-pil-imageenhance-brightness-">
  Brightness increase with PIL (ImageEnhance.Brightness)
</h2>
<pre><code class="lang-python">from PIL <span class="hljs-keyword">import</span> Image, ImageEnhance

<span class="hljs-built_in">image</span> = Image.<span class="hljs-built_in">open</span>(<span class="hljs-string">'image.jpg'</span>)
enhancer = ImageEnhance.Brightness(<span class="hljs-built_in">image</span>)
enhanced_im = enhancer.enhance(<span class="hljs-number">2.8</span>)
<span class="hljs-built_in">display</span>(enhanced_im)
</code></pre>
<p>
  <img
    src="GrayScale_Brightness_files/GrayScale_Brightness_26_0.png"
    alt="png"
  />
</p>
